@tailwind base;
@tailwind components;
@tailwind utilities;

.input{
    @apply
    w-full
    rounded-xl
    border
    border-gray-300
    px-4
    py-3
    outline-none
    focus:border-indigo-500
    focus:ring-2
    focus:ring-indigo-200;
}
